@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/* TO DO: add javascript and refactor */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  height: 100vh;
  padding: 0 2.4rem 0 2.4rem;
  display: flex;
  justify-content: center;
  color: var(--light-grey);
  background-color: var(--very-dark-blue);
}

/* --------------- Rating card styles -----------------*/

.rating-card {
  width: 100%;
  max-width: 41.2rem;
  margin-top: 19.5rem;
  padding: 3.2rem 3.9rem 3.2rem 3.2rem;
  border-radius: 3rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
}

.rating-card__img--container,
.rating-card__point {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.rating-card__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 3rem;
  color: var(--white);
}

.rating-card__text {
  line-height: 2.4rem;
  margin-top: 1.5rem;
}

.rating-card__points {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4rem;
}

.rating-card__point {
  font-size: 1.6rem;
  font-weight: 700;
  width: 5.1rem;
  height: 5.1rem;
}

.rating-card__point:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white);
  transition: 0.2s;
}

.rating-card__point.active {
  color: var(--white);
  background-color: var(--light-grey);
}

.rating-card__btn {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 3.2rem;
  padding: 1.27rem 0 1.27rem 0;
  border-radius: 2.25rem;
  border: none;
  background-color: var(--orange);
  color: var(--white);
}

.rating-card__btn:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--orange);
  transition: 0.2s;
}

/* Added with JS to hide the first card */
.hide {
  display: none;
  transition: 0.5s;
}

/* --------------- Thank you card styles -----------------*/
.thankyou-card {
  width: 100%;
  max-width: 41.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 19.5rem;
  padding: 4.5rem 3.9rem 4.5rem 3.2rem;
  border-radius: 3rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
}

.thankyou-card__points {
  text-align: center;
  width: 19.3rem;
  margin-top: 3.2rem;
  padding: 0.4rem 0 0.4rem 0;
  border-radius: 2.25rem;
  color: var(--orange);
  background-color: var(--dark-blue);
}

.thankyou-card__points--text {
  line-height: 2.4rem;
}

.thankyou-card__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 3.2rem;
  color: var(--white);
}

.thankyou-card__text {
  text-align: center;
  line-height: 2.4rem;
  margin-top: 1.5rem;
}

.thankyou-card {
  display: none;
}

@media only screen and (max-width: 450px) {
  body {
    align-items: center;
  }

  /* ---------- Rating card styles ---------- */
  .rating-card {
    max-width: 32.7rem;
    margin-top: 0;
    padding: 2.4rem 2.4rem 3.2rem 2.4rem;
    border-radius: 1.5rem;
  }

  .rating-card__img--container {
    width: 4rem;
    height: 4rem;
  }

  .rating-card__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 1.6rem;
  }

  .rating-card__text {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-top: 1.7rem;
  }

  .rating-card__point {
    font-size: 1.4rem;
    width: 4.2rem;
    height: 4.2rem;
  }

  .rating-card__btn {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    margin-top: 2.4rem;
  }

  /* ---------- Thank you card styles ---------- */

  .thankyou-card {
    max-width: 32.7rem;
    padding: 3.4rem 2.4rem 3.7rem 2.4rem;
    border-radius: 1.5rem;
  }

  .thankyou-card__img {
    width: 14.4rem;
  }

  .thankyou-card__points {
    width: 16.8rem;
    margin-top: 2.4rem;
    padding: 0.5rem 0 0.5rem 0;
  }

  .thankyou-card__points--text {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .thankyou-card__title {
    font-size: 2.4rem;
    margin-top: 2.4rem;
  }

  .thankyou-card__text {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-top: 1.7rem;
  }
}
